/* stylesheets/profile.css */

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #E3FEF7;
  color: #003C43;
}

#app{
  padding-top: 180px;
}

header {
  background-color: #135D66;
  color: #E3FEF7;
  padding: 20px 0;
  text-align: center;
}

h1 {
  margin: 0;
}

main {
  padding: 20px;
}

.profile {
  position: relative;
}

.user-info {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background-color: #77B0AA;
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.avatar {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user-details {
  flex: 1;
}

.user-details h2 {
  margin-top: 0;
  font-size: 24px;
  color: #003C43;
}

.user-details p {
  margin-bottom: 20px;
  color: #003C43;
}

.info-columns {
  display: flex;
  flex-wrap: wrap;
}

.info-column {
  flex: 1;
}

.info-column ul {
  list-style: none;
  padding: 0;
}

.info-column ul li {
  margin-bottom: 10px;
}

.info-column ul li strong {
  font-weight: bold;
}

.change-btn {
  display: block;
  width: 200px;
  margin: 30px auto;
  padding: 15px 20px;
  font-size: 16px;
  background-color: #135D66;
  color: #E3FEF7;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.change-btn:hover {
  background-color: #003C43;
}


/*
 css for header
*/

.page-header {
  position: fixed;
  width: 100%;
  height: 110px;
  background-color:  #135D66;
  z-index: 1000;
}

.upper-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50%; 
  width: 100%;
  background-color:  #135D66;
  padding: 0 20px; 
}

.logo-container {
  flex: 0 1 auto; /* Don't grow, allow shrink, base size as needed */
  margin-right: auto; /* Pushes everything else to the right */
  margin-left: 20px;
}

.logo-container a{
  text-decoration: none;
  color: white;
}

.logo-container a h1{
  font-size: 1.7em;
}

.search-box {
  margin-right: 13em; 
  margin-left: 70px;
  flex: 1; /* Allows the search box to grow and take available space */
  display: flex;
  justify-content: center; /* Center the search bar within its container */
  align-items: center;
  max-width: 600px; /* Maximum width for the search box */
  position: relative;
}

.search-bar {
  width: 100%; /* Full width to fill its container */
  padding: 8px 40px; /* Adequate padding for placing the icon */
  font-size: 1.2em;
  color: white;
  background: rgb(70, 69, 72);
  border-radius: 2em;
  border: none;
  outline: none;
}

.search-icon {
  position: absolute;
  left: 15px; /* Position icon within the search bar */
  color: #ccc;
}


.rightcontent-container img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #fff;
}

.rightcontent-container {
  position: relative; /* Ensures dropdown menu is positioned relative to this container */
  flex: 0 1 auto; 
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: auto;
  margin-right: 60px;
}

.lower-header{
  display: flex;
  align-items: justify;
  justify-content: space-between;
  height: 50%;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid rgb(232, 232, 232);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding-left: 50px;
  padding-right: 8px;
}

.lower-header nav{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.lower-header nav ul{
  display: flex;
  height: 100%;
  padding: 0px;
  list-style: none;
  margin: 0px;
}

.lower-header nav li{
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  color: black;
  position: relative;
  cursor: pointer;
  background: none;
  border: none;
  height: 100%;
}

.lower-header nav a{
  width: 100%;
  text-decoration: none;
  color: black;
}

.lower-header nav li::after{
  content: '';
  position: absolute;
  width: 0;
  height: 2px; /* Thickness of the underline */
  bottom: 0;
  left: 50%;
  background-color: black; /* Color of the underline */
  transition: all 0.3s ease; /* Smooth transition for moving and resizing the underline */

}

.lower-header nav li:hover::after, .lower-header nav li.active::after{
  width: 100%; /* Full width on hover or when active */
  left: 0; /* Start from the left edge */
}

.navbar-link {
  font-size: large;
}
